<div class="box">
    <div class="row">
        <div class="col-md-5 col-sm-12">
          <img src="assets/img/iconPhoto.png" alt="">
        </div>
        <div class="container">
            <h1 class="mt-4 mb-4">personnes Details</h1>
          
            <div class="card mb-4">
              <div class="card-header">
                <h2>{{ data.nom }} {{ data.prenom }}</h2>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <p>Date de naissance: {{ data.dateDeNaissance }}</p>
                  </div>
                  <div class="col-md-6">
                    <p>Age: {{ data.age }}</p>
                  </div>
                </div>
          
                <h3>Emplois :</h3>
                <ul class="list-group">
                  <li *ngFor="let emploi of data.emplois" class="list-group-item">
                    {{ emploi.nomEntreprise }} ({{ emploi.posteOccupe }})
                    <p>Date de début: {{ emploi.dateDebut }}</p>
                    <p>Date de fin: {{ emploi.dateFin || 'Actuellement en poste' }}</p>
                  </li>
                </ul>
          
                <h3>Emploi actuel :</h3>
                <p *ngIf="data.emploiActuelle">
                  {{ data.emploiActuelle.nomEntreprise }} ({{ data.emploiActuelle.posteOccupe }})<br>
                  Date Debut :  {{ data.emploiActuelle.dateDebut }}
                </p>
                <p *ngIf="!data.emploiActuelle">Aucun emploi actuel</p>
              </div>
            </div>
          </div>
    </div>
</div>