.box {
    width: 90%;
    margin: 100px auto;
    height: 500px;

    ul {
        li {
            font-size: 22px;
            margin: 20px 0;
        }
    }
    img {
        width: 100%;
        max-height: 500px;
        min-height: 500px;
    }
}