<nav>
    <div class ="container">
        <div class ="content">
            <h2 class="logo">Personne</h2>
            
                <li routerLink="/personne">Add Personne</li>
                <li routerLink="/emploi">Add Emploi</li>
                <li routerLink="/listPersonne">list Personne</li>
                <li routerLink="/employeeByCompany">Employee By Company</li>
                <li routerLink="/JobByDateRange">Job By Date Range</li>
        </div>
    </div>
</nav>