<div class="container">
    <h1>Liste des employés par entreprise</h1>
    <form (submit)="searchEmployeesByCompany()">
      <div class="form-group">
        <label for="companyName">Nom de l'entreprise :</label>
        <input type="text" id="companyName" [(ngModel)]="searchCompany" name="companyName" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
    <hr />
  
    <div *ngIf="employeesByCompany.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de Naissance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeesByCompany">
            <td>{{ employee.nom }}</td>
            <td>{{ employee.prenom }}</td>
            <td>{{ employee.dateDeNaissance | date : "dd-MM-yyyy"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>