<div class="container">
    <h2>Ajouter des Emplois</h2>
  
    <div class="form-group">
        <label for="idPersonne">Nom de personne:</label>

        <select (change)="onSelectChange($event)">
            <option value="all" selected>Choisir un utilisateur</option>
            <option *ngFor="let item of personnes" [value]="item.id">{{ item.nom }} {{ item.prenom }}</option>
          </select>

      </div>
    <div class="form-group">
      <label for="entreprise">Nom de l'entreprise :</label>
      <input type="text" class="form-control" id="entreprise" name="entreprise" [(ngModel)]="emploi.nomEntreprise" required>
    </div>
    <div class="form-group">
      <label for="poste">Poste occupé :</label>
      <input type="text" class="form-control" id="poste" name="poste" [(ngModel)]="emploi.posteOccupe" required>
    </div>
    <div class="form-group">
      <label for="dateDebut">Date de début :</label>
      <input type="date" class="form-control" id="dateDebut" name="dateDebut" [(ngModel)]="emploi.dateDebut" required>
    </div>
    <div class="form-group">
      <label for="dateFin">Date de fin :</label>
      <input type="date" class="form-control" id="dateFin" name="dateFin" [(ngModel)]="emploi.dateFin">
    </div>
    <div class="div1">
        <button (click)="addEmploi()" class="btn btn-primary">Ajouter Emploi</button>
      </div>

      <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nom Entreprise</th>
                      <th scope="col">Post Occupe</th>
                      <th scope="col">Date Debut</th>
                      <th scope="col">Date Fin</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let emploi of emplois">
                    <tr>
                      <td>{{ emploi.nomEntreprise }}</td>
                      <td>{{ emploi.posteOccupe }}</td>
                      <td>{{ emploi.dateDebut }}</td>
                      <td>{{ emploi.dateFin }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>


    <button (click)="createEmploi()" class="btn btn-primary">Save Emploi</button>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="success"><strong>Well done!</strong> Job is Successfully Added</div>
  <div class="alert alert-danger" role="alert" *ngIf="failed"><strong>{{message?.body}}</strong></div>