<div class="box mt-5">
    <div class="row" *ngIf="!spinnerloading">
        <div class="col-md-3 col-sm-12" *ngFor="let item of personnes">
            <app-personne-info [data] ="item"></app-personne-info>
        </div>
    </div>
    <div class="text-center w100" *ngIf="spinnerloading">
        <app-spinner></app-spinner>
    </div>
</div>

