<div class="container">
    <h2>Add Personne</h2>
    <form (ngSubmit)="createPersonne()" #personneForm="ngForm">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nouvellePersonne.nom" required>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom:</label>
        <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="nouvellePersonne.prenom" required>
      </div>
      <div class="form-group">
        <label for="dateDeNaissance">Date de Naissance:</label>
        <input type="date" class="form-control" id="dateDeNaissance" name="dateDeNaissance" [(ngModel)]="nouvellePersonne.dateDeNaissance" required>
        <span class="error" *ngIf="isAgeInvalid">L'âge doit être inférieur à 150 ans.</span>
      </div>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  </div>

  <div class="alert alert-success" role="alert" *ngIf="success"><strong>Well done!</strong> The Personne is Successfully Added</div>