.item {
    width: 100%;
    text-decoration: none;
    color: #333;
    margin: 15px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(202, 37, 16, 0.3);
    transition: all 0.5s ease;
    img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .body {
        padding-top: 0;
    }
    p {
        margin: 15px 0;
        height: 100px;
        overflow: hidden;
        font-size: 16px;
        padding: 5px 15px;
    }
    h4 {
        height: 75px;
        overflow: hidden;
        padding: 5px 15px;
        font-size: 18px;
        background-color: #eee;
        font-weight: 600;
        margin-top: 10px;
    }
    &:hover {
        transform: scale(1.1);
    }
    span {
        background-color: #f1b4b4;
        padding: 3px 7px;
        border-radius: 30px;
    }
}