<div class="item">
    <div routerLink="/details/{{data.nom}}/{{data.prenom}}">
        <img src="assets/img/iconPhoto.png" alt="">
    <div class="body">
        <h4>{{data.nom}} {{data.prenom}}</h4>
        <p>Date de Naissance : {{data.dateDeNaissance}}</p>
        <p>Age : {{data.age}}</p>
    </div>
    </div>
</div>
