<div class="container">
    <h1>Liste des emplois par plage de dates</h1>
    <form (submit)="searchJobsByDateRange()">

        <select (change)="onSelectChange($event)">
            <option value="all" selected>Choisir un utilisateur</option>
            <option *ngFor="let item of personnes" [value]="item.id">{{ item.nom }} {{ item.prenom }}</option>
          </select>

      <div class="form-group">
        <label for="startDate">Date de début :</label>
        <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" class="form-control" />
      </div>
      <div class="form-group">
        <label for="endDate">Date de fin :</label>
        <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
    <hr />

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let job of data?.emplois">
        {{ job?.nomEntreprise }} ({{ job?.posteOccupe }})
        <p>Date de début : {{ job?.dateDebut }}</p>
        <p>Date de fin : {{ job?.dateFin || 'Actuellement en poste' }}</p>
      </li>
    </ul>
  </div>
  