/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0!important;
}
*{
    font-family: cursive;
}